<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Bobot">
    <link rel="apple-touch-icon" href="/static/icon-512x512.png" sizes="512x512">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <title>{{.Title}} - bobot</title>
    <link rel="stylesheet" href="/static/style.css">
    <link ref="manifest" href="/static/manifest.json">
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>
<body hx-boost="true" hx-push-url="false">
    <div id="ws-connection" hx-preserve="true"></div>
    <script src="/static/ws-manager.js"></script>
    {{template "content" .}}
</body>
</html>
